---

import ImageParallax from '../ImageParallax.astro';


interface Props {

  theme: string;
	titre: string;
  link: string;
  description: string;
  imgImport: ImageMetadata;

}

const { theme,titre, link, description,imgImport } = Astro.props;

---



<div class="   oka-expertise" data-accroche={link}>
  <div class="flex-grid">

    <div class="col col-1"></div>

    <div class="col col-4">
      <div class="oka-spacer -md"></div>
      <p class="oka-text -sm " >{theme}</p>
      <h3 class="oka-h -md noto-serif  -crop ">{titre}</h3>
      <div class="oka-spacer -xs"></div>
      <p class="oka-text -lg ">{description}</p>
    </div>

    <div class="col col-4" >
      <ImageParallax imgImport={imgImport}  alt={`Hokoha Développement : ${titre}`} width={20} height={10} containerHeight="17rem" />
    </div>

  </div>
  
</div>

<div class="oka-spacer -md"></div>
