---
// Composant
import Expertise from '../../components/expertise/Expertise.astro';

/*
Composants inutilisés
import TechnoWeb from '../../components/technologie/TechnoWeb.astro';
import TechnoMobile from '../../components/technologie/TechnoMobile.astro';
import TechnoAnnexe from '../../components/technologie/TechnoAnnexe.astro';
*/


// Images
import AgiliteImageImport from '../../assets/img/expertise/agilite.jpg';
import ConceptionImageImport from '../../assets/img/expertise/conception.jpg';
import DesignImageImport from '../../assets/img/expertise/uxdesign.jpg';
import DevImageImport from '../../assets/img/expertise/developpement.jpg';
import ErpImageImport from '../../assets/img/expertise/erp.jpg';


---

<div class="flex-grid oka-flex" style="position:sticky; top : 12rem; z-index:2">
    <div class="col col-1 oka-show--lg"></div>

    <div class="col col-1"><h2 class="oka-text -xs ">2.<br />NOTRE EXPERTISE</h2>
    </div>

    <div class="col col-5" style="backdrop-filter: blur(3px); padding-bottom:8rem;">
        <div class="oka-spacer -sm"></div>
        <p class="oka-h -lg -crop">Hokoha se distingue par son <mark class="hx hx-13"><span class="hx__select"></span>expertise polyvalente</mark>, couvrant les domaines clés du développement technologique.</p>
    
        <div id="accroches"></div>
    </div>

    
</div>

    
<div class="flex-grid oka-flex">

    <div class="col col-6"></div>

    <div class="col col-1 oka-show--lg"></div>

    <div class="col col-9">
        <div class="flex-grid">
        <Expertise
            theme="Organisation"
            titre="Maitrise en gestion de projet"
            description="Mise en place de la méthode de gestion la plus adaptée aux contraintes de votre projets"
            imgImport={AgiliteImageImport}
            />

        </div>
    </div>
</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">
        <!-- <p class="oka-text">Notre équipe maîtrise l'ensemble du processus de conception et de développement, de l'analyse des besoins à la mise en œuvre des solutions.</p> -->

    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">

        <Expertise
            theme="Conception"
            titre="Architecture logiciel / Modélisation"
            description="Conception et modélisation de vos logiciels de façon structurée."
            imgImport={ConceptionImageImport}
            />
        </div>
    </div>

</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6"></div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">

        <Expertise
            theme="Ergonomie"
            titre="Design d'interfaces ergonomiques"
            description="Design de vos interfaces logicielles centré sur vos utilisateurs."
            imgImport={DesignImageImport} 
            />
        
        </div>
    </div>
</div>

<hr class="oka-divider ">
<div class="oka-spacer -md"></div>

<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">
        <!-- <TechnoWeb />
        <TechnoMobile />
        <TechnoAnnexe /> -->
    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">

        <Expertise
            theme="Production"
            titre="Développement, intégration et qualité du logiciel"
            description="Réalisation de logiciels conformes à vos attentes."
            imgImport={DevImageImport}
            />
        </div>
    </div>
</div>


<hr class="oka-divider ">
<div class="oka-spacer -md"></div>


<div class="flex-grid oka-flex -zzrvrs">

    <div class="col col-6">

    </div>
    <div class="col col-1"></div>
    <div class="col col-9">
        <div class="flex-grid">

        <Expertise
            theme="ERP / Gestion d’Entreprise"
            titre="ERP :  Planification et Gestion d’Entreprise complètes"
            description="Développement de systèmes ERP taillés pour vos besoins métiers."
            imgImport={ErpImageImport}
            />
        </div>
    </div>
</div>

<div class="oka-spacer -xl"></div>
