---
const savoirFaires = Object.values(import.meta.glob("../../../contenus/accueil/savoir-faires/cartes/*.md", { eager: true }));

/* 
   Liste de cartes de savoir-faire. 
   Chaque carte est positionnée de manière sticky, 
   avec un top qui s'ajuste dynamiquement en fonction de la hauteur cumulée des titres des cartes précédentes.
*/
---

{
  savoirFaires.map((savoirFaire) => (
    <article class="sok-card">
      <div class="flex-grid">
        {/* <div class="oka-spacer  -md" aria-hidden="true" /> */}

        <div class="col col-16 sok-card__wrapper">
          <div class="sok-card__side-text">
            <h3 class="oka-h -md">{savoirFaire.frontmatter.tag}</h3>

            <span class="oka-data -md -strong">NOS SAVOIR-FAIRE</span>
          </div>

          <div class="sok-card__content">
            <div class="oka-spacer -md" aria-hidden="true" />

            <h3 class="oka-h -lg">{savoirFaire.frontmatter.title}</h3>

            {/* la fonction rawContent permet d'afficher le contenu du .md sans ajouter de balise html dans le DOM */}
            <p class="oka-text -md" set:html={savoirFaire.rawContent()}></p>

            <div class="oka-spacer -md" aria-hidden="true" />

            <button class="oka-bt -outlined">
              {/* <div class="oka-bt__ico"><i class="fa fa-heart"></i></div> */}
              <div class="oka-bt__lbl">En savoir plus</div>
              <div class="oka-spinner" />
            </button>

            <div class="oka-spacer -md" aria-hidden="true" />
          </div>

          {/* <figure class="sok-card__content-img">
            <img
              src={savoirFaire.frontmatter.src}
              alt={savoirFaire.frontmatter.alt}
            />
          </figure> */}
        </div>
      </div>
    </article>
  ))
}

<style is:global>
  .pin-spacer {
    background-color: var(--sok-color-underground);
  }
</style>

<style lang="scss">
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flex-grid {
    height: 100%;
  }

  .sok-card {
    min-width: 320px;
    max-width: 640px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--oka-color-layer-floor-0);
    border: 1px solid var(--oka-color-bd-minimal);
    // border-radius: 0.5rem;

    &__wrapper {
      display: flex;
      gap: 2rem;

      .sok-card__side-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 4rem;
        height: 100%;
        padding: 1rem 0;
        border-right: 1px solid var(--oka-color-bd-minimal);

        & > * {
          writing-mode: sideways-lr;
        }
      }

      .sok-card__content-img {
        // width: 45%;
        height: 100%;
        margin: 0;
      }

      .sok-card__content {
        // display: ;
        // width: 55%;
      }
    }
  }
</style>

{/* ===== GSAP ===== */}
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("astro:page-load", () => {
    const cards = document.querySelector(".sok-card-container");

    const totalWidth = cards.scrollWidth;
    const screenWidth = window.innerWidth;

    const scrollDistance = totalWidth - screenWidth;

    gsap.to(cards, {
      x: -scrollDistance,
      scrollTrigger: {
        trigger: ".sok-savoirefaire",
        start: "top top",
        end: () => `+=${totalWidth}`,
        scrub: 1,
        pin: true,
        anticipatePin: 1,
        // snap: 1 / (cards.children.length - 1),
        invalidateOnRefresh: true,
        // markers: true,
      }
    });
  });
</script>
