---
// ===== Composants utilisés =====
// import ImageSok from "../../commun/ImageSok.astro";
// import MediaWrapper from "../../commun/MediaWrapper.astro";

// ===== Fichiers Markdown =====
const savoirFaires = Object.values(import.meta.glob("../../../contenus/accueil/savoir-faires/cartes/*.md", { eager: true }));
---

{
  savoirFaires.map((savoirFaire) => (
    <article class="sok-card">
      <div class="sok-card__container">

        <div class="sok-card__side-text">
          <h3 class="oka-h -md">{savoirFaire.frontmatter.tag}</h3>

          <span class="oka-data -lg -strong">
            {savoirFaire.frontmatter.num}
          </span>
        </div>

        <div class="sok-card__wrapper">

          <div class="sok-card__inner">
            <div class="sok-card__content">
              {/* <div class="oka-spacer -xl" aria-hidden="true" /> */}

              <h3 class="oka-h -xl" set:html={savoirFaire.frontmatter.title} />

              <div class="sok-t-paragraph">
                <p class="oka-text -md">{savoirFaire.rawContent()}</p>
              </div>

              <div class="oka-spacer -md" aria-hidden="true" />

              <button class="oka-bt -outlined">
                <div class="oka-bt__lbl">En savoir plus</div>
              </button>
            </div>

            <figure class="sok-card__image-inner">
              <img
                src={savoirFaire.frontmatter.src}
                alt={savoirFaire.frontmatter.alt}
              />
            </figure>
          </div>

        </div>

      </div>
    </article>
  ))
}

<style lang="scss">
  @use "../../../styles/oka-design-system/0-abstracts//breakpoints/breakpoints" as *;  

  .sok-card {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-right: 0px;
    background-color: var(--oka-color-underground);
    border: 1px solid var(--oka-color-bd-minimal);
    border-top: none;
    
    @include breakpoint(lg) {
      width: auto;
      border-right: none;
    }

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      @include breakpoint(lg) {
        flex-direction: row;
      }
    }

    // ===== Texte vertical =====
    .sok-card__side-text {
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      border-bottom: 1px solid var(--oka-color-bd-minimal);
      
      @include breakpoint(sm) {
        display: flex;
      }
      
      @include breakpoint(lg) {
        flex-direction: column;
        width: 5rem;
        padding: 2rem 0;
        border-bottom: none;
        border-right: 1px solid var(--oka-color-bd-minimal);
      }

      & > * {
        writing-mode: horizontal-tb;

        @include breakpoint(lg) {
          writing-mode: sideways-lr;
        }
      }
    }

    // ===== Contenu des cartes =====
    &__wrapper {
      .sok-card__inner {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        gap: 2rem;
        padding: 2rem;
        
        @include breakpoint(lg) {
          justify-content: space-between;
          gap: 0;
          padding: 2rem;
        }
      }

      .sok-card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
  
        .oka-h {
          width: 100%;

          @include breakpoint(md) {
            max-width: 740px;
          }

          @include breakpoint(lg) {
            min-width: 740px;
          }
        }
  
        .sok-t-paragraph {
          width: 100%;
          text-align: justify;

          @include breakpoint(md) {
            text-align: start;
            min-width: 440px;
            max-width: 440px;
          }
        }
      }

      // ===== Image =====
      .sok-card__image-inner {
        width: 100%;
        max-width: 100%;
        height: 25dvh;
        margin: 0;
  
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  
  document.addEventListener("astro:page-load", () => {
    const cardsWrapper = document.querySelector(".sok-card-wrapper");
    if (!cardsWrapper) return;
    // Récupération de toutes les cartes
    const sokCards = document.querySelectorAll(".sok-card");
    if (!sokCards.length) return;
    
    // Dernière carte Savoir-Faire
    const lastIndex = sokCards.length - 1;
    const lastCard = sokCards[lastIndex];
  
    // Récupération de la taille de viewport
    const viewportWidth = window.innerWidth;
    
    // Animation pour les tablettes et laptop
    if (viewportWidth >= 800 && viewportWidth < 1280) {
      smallAndMediumDevices();

    } else if (viewportWidth >= 1280) {
      largeDevices();
    }

    function smallAndMediumDevices() {
      console.log("small or medium device : " + viewportWidth);
  
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".sok-savoirfaire",
          start: "top top",
          endTrigger: lastCard, // S'arrête à la dernière carte
          end: "bottom bottom", 
          scrub: true,
          pin: true,
          pinSpacing: false,
          anticipatePin: 1,
         // markers: true,
        },
      });
    
      // Animation pour toute les cartes sauf la dernière
      sokCards.forEach((sokCard, i) => {
        if (i === lastIndex) return;
        const rightContent = sokCard.querySelector(".sok-card__wrapper");
  
        if (rightContent) {
          tl.to(rightContent, {
            height: 0,
            duration: 1,
            // ease: "power1.inOut"
          }, i);
        }
      });
    }
  
    function largeDevices() {
      console.log("large divice : " + viewportWidth);
      
      const totalWidth = cardsWrapper.scrollWidth;
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: ".sok-savoirfaire",
          start: "top top",
          end: () => `+=${totalWidth}`,
          scrub: true,
          pin: true,
          anticipatePin: 1,
          //markers: true,
        },
      });
  
      // Animation pour toute les cartes sauf la dernière
      sokCards.forEach((sokCard, i) => {
        if (i === lastIndex) return;
        const rightContent = sokCard.querySelector(".sok-card__wrapper");
  
        if (rightContent) {
          tl.to(rightContent, {
            width: 0,
            duration: 1,
            // ease: "power1.inOut"
          }, i);
        }
      });
    }
  });
</script>