---
interface Props {
  nb: string;
  theme: string;
	title: string;
	body: string;
}

const { nb, theme, title, body } = Astro.props;


import Arrow from '../../components/Arrow.astro';
---



<!-- <div class="flex-grid appear">
    <div class="col"><p class="oka-h -xs -secondary ">{theme}</p></div>

    <div class="col col-3 col--md-6 ">
      <h2 class="oka-h -lg -secondary -crop" set:html={title}></h2>
    </div>

    <div class="col col-4">
       
        <p class="oka-text -md "  set:html={body}></p>
    </div>

    <div class="oka-spacer -sm"></div>
</div> -->

<Arrow></Arrow>

<div class="oka-argument" data-appeargroup >
  <div class="oka-spacer  -xl"></div>
  <hr class="oka-divider " data-sssappearfirst />
  <div class="oka-spacer -md"></div>


  <p class="oka-h -xs ---secondary " data-appearfirst>{theme}</p>
  <h2 class="oka-h -xl -secondary -crop" data-appearsecond set:html={title}></h2>
  <div class="oka-spacer -md"></div>
  <p class="oka-text -md " data-appearthird set:html={body} style="max-width:640px"></p> 


</div>


