---
interface Props {
  nb: string;
  theme: string;
	title: string;
	body: string;
}

const { nb, theme, title, body } = Astro.props;
---



<!-- <div class="flex-grid appear">
    <div class="col"><p class="oka-h -xs -secondary ">{theme}</p></div>

    <div class="col col-3 col--md-6 ">
      <h2 class="oka-h -lg -secondary -crop" set:html={title}></h2>
    </div>

    <div class="col col-4">
       
        <p class="oka-text -md "  set:html={body}></p>
    </div>

    <div class="oka-spacer -sm"></div>
</div> -->



<div class="oka-argument  oka-flip ">
    <input type="checkbox" id={`flip-${nb}`} class="oka-flip__pilot" />       
    <div class="oka-flip__inner">
        <div class="oka-argument__intro oka-flip__front " >
            <label for={`flip-${nb}`} class="oka-flip__flipper"><i class="fa-kit fa-ellipsis"></i></label>
           
            <p class="oka-h -xs -secondary ">{theme}</p>
            <h2 class="oka-h -lg -secondary -crop" set:html={title}></h2>

            <div class="oka-spacer -xl"></div>
        </div>

        <div class="oka-argument__detail oka-flip__back">
          <label for={`flip-${nb}`} class="oka-flip__flipper"><i class="fa-kit fa-xmark"></i></label>
          <p class="oka-text -md "  set:html={body}></p> 
          
        <!-- Label déclencheur  
        <label class="oka-bt -outlined" for="display-modal-default">
          <div class="oka-bt__ico"><i class="fa-light fa-weight-hanging"></i></div>
          <div class="oka-bt__lbl">Mesurez l'impact</div>
          <div class="oka-spinner"></div>
        </label>
        -->
        </div>

    </div> 
</div>

