---
import { string } from "astro:schema";
import PolygoneFlip from "../../../../components/commun/polygones/PolygoneFlip.astro";
import PolygoneStatic from "../../../../components/commun/polygones/PolygoneStatic.astro";

interface Props {
  rows?: string;
  cols?:  string;
  ratio?: string;
  dataAttrs?: Record<string, string>;
  items?: any[];
}
const { rows, cols, ratio, dataAttrs, items = [] } = Astro.props;

---

<div class="hex-grid -hidden" 
  data-rows={rows ?? 1} 
  data-cols={cols ?? 4} 
  data-ratio={ratio ?? 0.1}
  {...dataAttrs && 
    Object.fromEntries(
      Object.entries(dataAttrs).map(([key, value]) => [`data-${key}`, value])
    )
  }
>

  {items.map((item) => {

    if (item.type === "static") {
      return (
        <PolygoneStatic
          imageUrl={item.imageUrl}
          videoUrl={item.videoUrl}
          alt={item.alt}
        />
      );
    }

    if (item.type === "flip") {
      return (
        <PolygoneFlip
          frontText={item.frontText}
          backText={item.backText}
          images={item.images}
          color={item.color}
        />
      );
    }

  })}

</div>


<style>
/* Grille mobile : 4 colonnes, 2 lignes, ratio 0.1 */
@media (max-width: 1024px) {

  .hex-grid {
    grid-template-columns: repeat(3, 1fr) !important; 
    grid-template-rows: repeat(4, auto) !important;

    > *  {
      grid-area: auto / auto / auto / auto !important;

    }
  }
}
</style>