---
import Shape from "./Shape.astro";

interface Props {
  frontText?: string;
  backText?:  string;
  color?: string;
	videoUrl?: string;
	imageUrl?: string;
  modifier?: string;
}

const { frontText, backText = 'Back', videoUrl, imageUrl, color, modifier } = Astro.props;
---


<div class={`polygone ${color} ${modifier}`}  >
  <Shape frontText={frontText} imageUrl={imageUrl} videoUrl={videoUrl} color={color}/>
</div>



<style lang="scss" is:global>
  .polygone {
    border:0px solid red;

    &.-visible {
      visibility: visible;
      opacity: 0;
    }

    &.-hidden {
      visibility: hidden;
    }

    &.-revert {
      transform: rotateY(-180deg);
    }

    &.-isBackground {
      position: absolute;
      content: "";
      inset: 0;
      z-index: -1;
    }

    &.-none {
      z-index: -1;
    }
    

  }
</style>
