---
import { hexPath, hexHeight, hexWidth, hexNormPathLg } from '../../../utils/hexConfig';

const aspectRatio = `${hexWidth} / ${hexHeight}`;

const clipId = `clip-${Math.random().toString(36).slice(2)}`;

interface Props {
	frontText?: string;
	backText?:  string;
	color?: string;
	videoUrl?: string;
	imageUrl?: string;
	addClass?: string;
}
const { frontText, backText = 'Back', videoUrl, imageUrl, color } = Astro.props;
---
<svg style="position:absolute;width:0;height:0;overflow:hidden" aria-hidden="true">
	<defs>
		<clipPath id={clipId} clipPathUnits="objectBoundingBox">
			<path d={hexNormPathLg}/>
		</clipPath>
	</defs>
</svg>
<div class="polygone-container" style={`aspect-ratio: ${aspectRatio};`}>
	<div class="polygon-stroke">
		<svg class="-dotted" viewBox={`0 0 ${hexWidth} ${hexHeight}`} preserveAspectRatio="none">
			<path
				d={hexPath}
				fill="none"
				stroke="rgba(0, 0, 0, 0)"
				stroke-width="3"
			/>
		</svg>
	</div>

	<div class={`polygon-shape ${color ?? ''}`}  style={`clip-path: url(#${clipId});${imageUrl ? ` background-image: url(${imageUrl});` : ''}`}>
		{(!imageUrl || videoUrl) && (
			<span class="polygon-text">{frontText}</span>
		)}

		{videoUrl && (
			<video autoplay muted loop>
				<source src={videoUrl} type="video/mp4">
			</video>
		)}
	</div>
</div>

<style lang="scss">
	.polygone-container {
		position: relative;
		width: 100%;
		z-index: 90;

		& > * {
			z-index: 90
		}
	}

	.polygon-stroke {
		position: absolute;
		content: "";
		inset: 0;
		z-index: 99;

		& > svg {
			width: 100%;
			height: 100%;
		}

		& > svg path {
			shape-rendering: crispEdges;
  			vector-effect: non-scaling-stroke;
		}

		& > .-dotted path {
			stroke-dasharray: 4 4;
		}

		& > .-solid path {
			stroke-dasharray: 0;
		}

		& > .-none path {
			stroke-width: 0;
			stroke-dasharray: 0;
		}
	}

  .polygon-shape {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-color: rgba(255, 255, 255, 1);
		overflow: hidden;

		// Modifier pour changer la disposition des éléments
		.polygon-shape.-pos-bottom {
			justify-content: space-between;
			align-items: end;
			padding: 1rem;
		}

		.polygone-text {
			color: #2C5F8A;
			font-size: 12px;
			text-align: center;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.-web {
		background-color: var(--sok-color-bg-blue-800);
		color: white
	}

	.-metier {
		background-color: var(--sok-color-bg-blue-600);
		color: white
	}

	.-app {
		background-color: var(--sok-color-bg-blue-400);
		color: black
	}

	.-ia {
		background-color: var(--sok-color-bg-blue-200);
		color: blac
	}

	.-objet {
		background-color: var(--sok-color-bg-blue-100);
		color: black
	}

	.-stroke {
		border: 1px solid #2C5F8A;
	}

	.-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.-mask {
		background-color: rgb(0, 0, 0);
	}
</style>

