---

// Charger les 3 derniers articles
const articles = await Astro.glob('../../content/news/*.md');

// Trier les articles par date (du plus récent au plus ancien)
articles.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date));

// Sélectionner les 3 derniers articles
const latestArticles = articles.slice(0, 3);

// Fonction pour générer une URL basée sur le nom du fichier ou le slug
function generateUrl(article) {
  if (article.frontmatter.slug) {
    return `./news/${article.frontmatter.slug}`;
  }
  
  const slugFromFile = article.file.split('/').pop().replace('.md', '');
  return `./news/${slugFromFile}`;
}
---

<div class="news-widget">
  <h5>Dernières actualités</h5>
  <a class="oka-bt -outlined" href="news">
    <div class="oka-bt__lbl">lire</div>
</a>
  <ul>
    {latestArticles.map((article) => (
      <li>
        
          
          <small>{new Date(article.frontmatter.date).toLocaleDateString()}</small>
          <h3>{article.frontmatter.title}</h3>
          <p>{article.frontmatter.description}</p>
          {article.frontmatter.image && (
            <img src={article.frontmatter.image} alt={`Vignette de ${article.frontmatter.title}`} width="100" height="75" />
          )}
            <a class="oka-bt -outlined" href={generateUrl(article)}>
                <div class="oka-bt__lbl">lire</div>
            </a>
      </li>
    ))}
  </ul>
</div>
