---
// ===== Transitions =====
import { ClientRouter } from "astro:transitions";
// ===== Components =====
import Header from "../components/commun/Header.astro";
import Footer from "../components/commun/Footer.astro";
// ===== Style Global =====
//import GlobalStyles from "../components/commun/GlobalStyles.astro";
// ===== Scripts =====
// import LocalScripts from "../components/commun/LocalScripts.astro"

import Smoothscroll from '../animations/smoothscroll/Smoothscroll.astro';
---

<!-- ===== HTML ===== -->
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Hokoha - Lorem Ipsum</title>
		<ClientRouter />
		

		<style lang="scss" is:global>
            @import '../styles/main.scss';
        </style>

	<!-- </head> -->
	<body>
		<div id="root" class="layout-app">
			<Header />
			
		
			<main class="layout-app__main oka-surface">
				<!-- Contenu principal -->
                <div class="oka-appWrap -full">
					
					<slot />
 				</div>
			</main>

			<Footer />

			<!-- Grid Preview -->
            <div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
                <div class="oka-app-wrap -full" style="height:100%">
                    <div class="grid-bg-fx__grid flex-grid ">
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
        
                        <div class="col col-1"></div>
                        <div class="col col-1"></div>
                        <div class="col col-1" ></div>
                        <div class="col col-1" ></div>
                    </div>
                </div>
            </div>


		</div>
	</body>
</html>

<!-- ===== SCSS ===== -->
<!-- <GlobalStyles/> -->


<style>

	.oka-surface {
		--oka-color-layer-floor-0 : hsla(216, 45%, 98%, 1);
	}

	html {
		overflow-x: hidden; /*requis pour Zoom Innover */
	}
	body {
		background-color: hsla(224, 44%, 95%, 0.324) !important;
		color: var(--oka-color-fg);
	}


	/* ==== Test ==== */

	.box__container {
		display: flex;
		gap: 20px;
		margin-left: 30%;
	}

	.box {
		height: 100px;
		width: 100px;
	}

	.red {
		background: red;
	}

	.blue {
		background: blue;
	}

	.green {
		background: green;
	}
</style>



<!-- <LocalScripts /> -->
<Smoothscroll />




<script is:inline data-astro-rerun >
        
	/**
	* Get the value of a cookie
	* Source: https://gist.github.com/wpsmith/6cf23551dd140fb72ae7
	* @param  {String} name  The name of the cookie
	* @return {String}       The cookie value
	*/
	/*
	https://stackoverflow.com/questions/5671451/creating-a-javascript-cookie-on-a-domain-and-reading-it-across-sub-domains
	*/
	function getCookie (name) {
		let value = `; ${document.cookie}`;
		let parts = value.split(`; ${name}=`);
		if (parts.length === 2) return parts.pop().split(';').shift();
	}

	function applyShowGrid (){
		let showGrid =  getCookie('showGrid')
		if (showGrid=='true'){
			document.body.classList.add('showGrid');
		}else{
			document.body.classList.remove('showGrid');
		}
	}
		
	applyShowGrid();
</script>








<script  is:inline data-astro-rerun>
	// Interactions de clavier
	function KeyPress(e) {
		var evtobj = window.event? event : e;
		// TOGGLE 8pt GRID
		if (evtobj.keyCode == 223 && evtobj.ctrlKey) {
			document.body.classList.toggle('showGrid');
		}
		// Ferme tous les modals
		if (evtobj.keyCode == 27) {
			window.location.hash='';
		}
	}
	document.onkeydown = KeyPress;
</script>