---
// ===== Transitions =====
import { ClientRouter } from "astro:transitions"; 
// ===== Components =====
import Header from "../components/commun/Header.astro";
import Footer from "../components/commun/Footer.astro";

import Smoothscroll from '../animations/smoothscroll/Smoothscroll.astro';
import { string } from "astro:schema";


interface Props {
	title: string;
	// description?:  string;
}

const { title } = Astro.props;
---

<!-- ===== HTML ===== -->
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
		

		<style lang="scss" is:global>
            @import '../styles/main.scss';
        </style>

	<!-- </head> -->
	<body>
		<div id="root" class="layout-app">

			<div class="sok-hero_ray" aria-hidden="true"></div>

			<Header />
			
			<main class="layout-app__main">
				<!-- Contenu principal -->
				<div class="oka-appWrap -FFfull">
					<slot />
 				</div>
			</main>


			<slot name="Footer">
				<Footer />
			</slot>

			<!-- Grid Preview -->
			<div class="flex-grid-bg-fx z-index-1 " aria-hidden="true">
					<div class="oka-app-wrap -FFfull" style="height:100%">
						<div class="grid-bg-fx__grid flex-grid ">
		
							<div class="col col-1"></div>
							<div class="col col-1"></div>
							<div class="col col-1" ></div>
							<div class="col col-1" ></div>
		
							<div class="col col-1"></div>
							<div class="col col-1"></div>
							<div class="col col-1" ></div>
							<div class="col col-1" ></div>
		
							<div class="col col-1"></div>
							<div class="col col-1"></div>
							<div class="col col-1" ></div>
							<div class="col col-1" ></div>
		
							<div class="col col-1"></div>
							<div class="col col-1"></div>
							<div class="col col-1" ></div>
							<div class="col col-1" ></div>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>

<!-- ===== Styles ===== -->
<style lang="scss" is:global>



	// .oka-surface {
	// 	--oka-color-layer-floor-0 : hsla(216, 45%, 98%, 1);
	// }

	html {
	
		overflow-x: hidden; /*requis pour Zoom Innover */
	}

	body {
	
		background-color: var(--oka-color-neutral-700) !important;
	}

	section {
		position: relative;
      z-index: 1;
      background-color: var(--sok-color-surface);
	}

	.layout-app__main {
		background-color: var(--oka-color-neutral-700);
	}


    // 8pt Grid 
	body:after{

        content: "";
        position: fixed;;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        padding: 0;
        opacity: 1;
        font-size: 8px;
        background-repeat: repeat-y;
        background-size: 100% 0.5rem;
        background-image: linear-gradient(to bottom, var(--oka-color-primary-800, var(--oka-color-primary-800)) 0, rgba(255, 255, 255, 0) 1px);
        line-height: 0;
        line-height: 0;
        pointer-events: none;

	}

    // Ray de lumière bleue
	.sok-hero_ray{
      position:fixed;
      top:0;
      width:100dvw;
      height:100dvh;

      background-image: 
        radial-gradient(
            ellipse at left top,
       
			var(--oka-color-neutral-900) 0%,
			var(--oka-color-neutral-900) 20%,
            var(--sok-color-primary) 25%,
            transparent 60%
        );
      
      background-attachment: fixed;
      mix-blend-mode: color-dodge;
   }


   .sok-8ptgrid {
      display: none;
      position: fixed;
      //left : 0dvw;
      //top : 30dvh;
      width: 1dvw;
      height: 100dvh;
      pointer-events: none;
      background-image: repeating-linear-gradient(
         to bottom,
         rgba(88, 125, 223, 0.5) 0px,
         rgba(88, 125, 223, 0.5) 8px,
         transparent 8px,
         transparent 16px
      );

      &.-secondary {
         width: 3dvw;
         height: 30dvh;
      }
   }
</style>



<!-- <LocalScripts /> -->
<Smoothscroll />
<!-- <ScrollSnap /> -->



<script is:inline data-astro-rerun >
        
	/**
	* Get the value of a cookie
	* Source: https://gist.github.com/wpsmith/6cf23551dd140fb72ae7
	* @param  {String} name  The name of the cookie
	* @return {String}       The cookie value
	*/
	/*
	https://stackoverflow.com/questions/5671451/creating-a-javascript-cookie-on-a-domain-and-reading-it-across-sub-domains
	*/
	function getCookie (name) {
		let value = `; ${document.cookie}`;
		let parts = value.split(`; ${name}=`);
		if (parts.length === 2) return parts.pop().split(';').shift();
	}

	function applyShowGrid (){
		let showGrid =  getCookie('showGrid')
		if (showGrid=='true'){
			document.body.classList.add('showGrid');
		}else{
			document.body.classList.remove('showGrid');
		}
	}
		
	applyShowGrid();
</script>








<script  is:inline data-astro-rerun>
	// Interactions de clavier
	function KeyPress(e) {
		var evtobj = window.event? event : e;
		// TOGGLE 8pt GRID
		if (evtobj.keyCode == 223 && evtobj.ctrlKey) {
			document.body.classList.toggle('showGrid');
		}
		// Ferme tous les modals
		if (evtobj.keyCode == 27) {
			window.location.hash='';
		}
	}
	document.onkeydown = KeyPress;
</script>